
@import 'tailwindcss';

@theme {
  --color-shadow: #323232;
  --color-primary: #14ffec;

  --font-body: Montserrat, sans-serif;
  --font-title: Inconsolata, monospace;
  --font-main: Poppins, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
  @apply bg-black md:bg-shadow;
}

::-webkit-scrollbar {
  width: 5px;
}

